/* The Modal (background) */
.my-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);    
}

.my-modal-content {
    position: relative;
    background: #E06565;
    margin: auto;
    border-radius: 5px;
    padding: 0;
    border: 1px solid #E06565;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.my-modal-header {
    padding: 2px 16px;
}

.my-modal-body {
    padding: 2px 16px;  
    display: flex;
    align-items: center;
}

.my-modal-footer {
    padding: 2px 16px;
}

.greet-image{
    max-width: 100%;
    max-height: 100%;
}

.img-container{
    height: 249px;
    width: 332px;
}

.modal-instructions{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.modal-instractions p {
    padding: 5px;
}

@media (max-width:778px) {
    .my-modal-body{
        flex-direction: column;
        align-items: center;
    }
    .my-modal-content{
        width: 95%;
    }

    .modal-instractions{
        flex-direction: row;
        font-size: 1em;
    }

    .img-container{
        height: 239px;
        width: 322px;
    }
}